@media screen and (min-width:1249px) {

    input, textarea {
        padding: 24px 45px;
    }

    .col-lg-24 {
        width: 100%;
    }

    .col-lg-22 {
        width: 91.6666%;
    }

    .col-lg-21 {
        width: 87.5%;
    }

    .col-lg-20 {
        width: 83.3333%;
    }

    .col-lg-19 {
        width: 79.1666%;
    }

    .col-lg-18 {
        width: 75%;
    }
    .col-lg-17 {
        width: 70.8%;
    }
    .col-lg-16 {
        width: 66.7%;
    }

    .col-lg-15 {
        width: 62.5%;
    }
    .col-lg-14 {
        width: 58.3%;
    }

    .col-lg-13 {
        width: 54.1666%;
    }

    .col-lg-12 {
        width: 50%;
    }

    .col-lg-11_5 {
        width: 47.9166%;
    }
    .col-lg-11 {
        width: 45.8333%;
    }

    .col-lg-10 {
        width: 41.6666%;
    }

    .col-lg-9 {
        width: 37.5%;
    }

    .col-lg-8 {
        width: 33.3333%;
    }

    .col-lg-7 {
        width: 29.1666%;
    }

    .col-lg-6 {
        width: 25%;
    }

    .col-lg-5 {
        width: 20.8333%;
    }

    .col-lg-4 {
        width: 16.6666%;
    }

    .col-lg-3 {
        width: 12.5%;
    }

    .col-lg-2 {
        width: 8.3333%;
    }

    .hidden-lg {
        display: none !important;
    }

    .container {
        max-width: 1410px;
        width: 90%;
    }
    .title-1 {
        font-size: 350%;
        line-height: 1;
    }

    .title-1 + * {
        margin-top: 25px;
    }

    .title-2 {
        font-size: 315%;
        line-height: 1.2;
    }

    .title-3 {
        font-size: 250%;
        line-height: 1.2;
    }

    .title-2 + *,
    .title-3 + * {
        margin: 30px 0;

    }

    .title-4 {
        font-size: 215%;
    }

    .title-4 + * {
        margin-top: 40px;
    }

    .title-5 {
        font-size: 170%;
        line-height: 1.2;
    }
    .title-5 + * {
        margin-top: 30px;
    }
    .title-6 {
        font-size: 140%;
    }
    .title-7 {
        font-size: 285%;
    }
    .title-7 + * {
        margin-bottom: 60px;
    }
    .title-8 {
        font-size: 200%;
    }

    .btn {
        padding: 25px 45px;
    }

    .form {
        padding: 65px 50px;
    }
    .checkout.form {
        padding: 30px;
    }
    .form-wrapper {
        margin: 40px 0 15px;
    }
    .cards-item-descr {
        padding: 100px;
    }
    .question-form {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .course-list {
        justify-content: space-around;
    }
    .course-list-item::before {
        height: 250px;
    }
    .course-list-item .title-5 {
        margin-bottom: 55px;
    }

    .advertisment .label {
        position: absolute;
        bottom: 18%;
        right: 4%;
    }
    .advertisment img {
        bottom: -60px;
        right: 21%;
        height: 100%;
    }
    .storage.label {
        position: absolute;
        bottom: -71px;
        right: 442px;
    }
    .storage.icon-number {
        line-height: 1.1;
    }
    .avatar {
        top: -13%;
        right: 45%;
    }
    .leaves_and_ice-left {
        position: absolute;
        bottom: 10%;
        left: 22%;
        background-image: url("../images/icons/leaves-ice-left.png");
        width: 218px;
        height: 415px;
        z-index: -1;
    }
    .leaves_and_ice-right {
        bottom: 10%;
        right: 11%;
    }

    .arrow {
        bottom: 100%;
        left: 15%;
    }
    .min.arrow {
        bottom: 90%;
        left: 18%;
        background-size: 70%;
        background-repeat: no-repeat;
    }
    .docs_slider{
        width: 514px;
    }
    .docs_slider-item{
        height: 795px;
    }
    .docs_slider .slick-arrow{
        position: absolute;
        top: calc(50% - 20px);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #e8e8e8;
        background-position: 50% 50%;
        background-image: url('../images/icons/slider-arrow.png');
        background-size: auto 30%;
        background-repeat: no-repeat;
        transition: background-color .3s;
        box-shadow: 0px 0px 6px 0px #6d6b6b;
    }
    .docs_slider .slick-arrow:not(.slick-disabled){
        background-color: #b5d34f;
    }
    .docs_slider .slick-arrow:not(.slick-disabled):hover {
        background-color: #709b19;
    }
    .docs_slider .slick-arrow.arrow-left{
        right: -60px;
        transform: rotate(180deg);
    }
    .docs_slider .slick-arrow.arrow-right{
        left: -60px;
    }
    .docs_slider-nav .slick-list,
    .docs_slider-nav .slick-track{
        width: 100%!important;
    }
    .docs_slider-nav-item{
        width: 50%!important;
        margin-bottom:80px;
    }
    .docs_slider-nav .slick-track{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .docs_slider-nav-img{
        width: 256px;
        height: 290px;
    }
}